---
import Layout from '@/layouts/Layout.astro';
import Nav from '@/sections/Nav.astro';
import Hero from '@/sections/Hero.astro';
import Skills from '@/sections/Skills.astro';
import Exp from '@/sections/Exp.astro';
import AboutMe from '@/sections/AboutMe.astro';
import Contact from '@/sections/ContactMe.astro';
import Footer from '@/sections/Footer.astro';

---

<Layout>
	<Nav />
	<main>
		<Hero />
		<Skills />
		<Exp />
		<AboutMe />
		<Contact />
	</main>
	<Footer />
</Layout>
