---
import AboutMeLogo from "@/assets/AboutMeLogo.astro";
---

<div class="mt-8">
    <div class="flex border-2  border-black rounded-lg justify-center">
        <div>
            <AboutMeLogo/>
        </div>
    </div>
   <h2>About Me</h2>
   
</div>