---
import Email from '@/assets/Email.astro'
import GitHub from '@/assets/GitHub.astro'
import LinkedIn from '@/assets/LinkedIn.astro'
---

<div class="mt-8 flex justify-center items-start flex-col pb-6" id="contact-me">
    <h2 class="text-3xl font-bold pt-u8 pb-8 lg:text-[2.1rem] lg:mt-10">
        Let’s <span class="build font-bold">build</span><br/>Something amazing
    </h2>
    <p class="font-normal text-zinc-500 text-start leading-relaxed md:w-[75%] lg:w-[70%] lg:text-[1.05rem] xl:w-[60%] 2xl:w-[50%]">
        Actualmente, estoy perfeccionando mis habilidades en Astro, TailwindCSS, HTML y CSS, además de aprender JavaScript y Vue.js. 
        Busco trabajo para seguir creciendo y aportar mis conocimientos en un equipo dinámico.
    </p>
    <p class="font-bold text-xl py-3 md:text-[1.25rem]">
        sasha.stankevich223@gmail.com
    </p>
    <section>
        <ul class="flex justify-around gap-5 py-4 pb-4 md:w-[11rem] lg:w-[12rem]">
            <a href="mailto:sasha.stankevich223@gmail.com" target="_blank" class="w-12 border-2 border-black rounded p-2"><Email/></>
            <a href="https://github.com/al3-rom" target="_blank" class="w-12 border-2 border-black rounded p-2"><GitHub/></a>
            <a href="https://www.linkedin.com/in/alejandro-romero-stankevich-b42b30241/" target="_blank" class="w-12 border-2 border-black rounded p-2"><LinkedIn/></a>
        </ul>
    </section>
</div>

<style>
    .build{
-webkit-text-fill-color: transparent; 
-webkit-text-stroke: 1px black; 
  text-stroke: 1px rgb(255, 255, 255);
}
    
</style>