<div class="bg-black py-16 pb-0 text-center">
    <h2 class="text-3xl font-normal text-white">My <span class="font-bold">Experience</span></h2>
    <div class="flex flex-col sm:flex-wrap p-6 text-white whitespace-normal">
        <div class="mb-4 border rounded-lg border-zinc-300 p-4 flex flex-wrap items-center justify-between">
                
            <div class="flex items-center w-full md:w-[50%] xl:w-[30%] 2xl:2-[25%]">
                  <img src="../../public/ConquerBlocks.jpg" alt="" class="border border-black rounded-lg">
                <h2 class="text-2xl font-bold ml-2 sm:ml-4">ConquerBlocks</h2>
                
            </div>
            <p class="text-[0.9rem] py-4 text-zinc-300 opacity-90 block  md:text-[1rem]">Agosto 2023 - Presente</p>
            <p class="py-2 font-normal text-start text-zinc-300 opacity-80 md:mt-[1%] xl:text-[1.2rem] ">He empezado un curso de Desarrollo Full Stack, que inicialmente aprendía por mi cuenta en mi tiempo libre. El curso incluye Desarrollo de Blockchain, un área que me interesa explorar después de consolidar mis conocimientos en Desarrollo Web.</p>
        </div>
    
        <div class="mb-4 border rounded-lg border-zinc-300 p-4 flex flex-wrap items-center bg-zinc-800 justify-between">
            <div class="flex items-center w-full md:w-[50%] xl:w-[30%] 2xl:2-[25%]">
                <img src="../../public/Inst.png" alt="" class="bg-white border border-black rounded-lg">
                <h2 class="text-2xl font-bold ml-2 sm:ml-4">Grado Superior</h2>
            </div>                
            <p class="text-[0.9rem] py-4 text-zinc-300 opacity-90 block  md:text-[1rem]">Septiembre 2024 - Presente</p>        
            <p class="py-2 font-normal text-start text-zinc-300 opacity-80 md:mt-[1%] xl:text-[1.2rem]">En septiembre comencé el Grado Superior de Desarrollo Web en un instituto de Cataluña. El curso tiene una duración de dos años, pero ya me interesa encontrar trabajo o prácticas.</p>
        </div>
    
        <div class="mb-4 border rounded-lg border-zinc-300 p-4 flex flex-wrap items-center justify-between">
            <div class="flex items-center w-full md:w-[50%] xl:w-[30%] 2xl:2-[25%]">
                <img src="../../public/GitHub.png" alt="" class="bg-white border border-black rounded-lg">
                <h2 class="text-2xl font-bold ml-2 sm:ml-4">Portfolio GitHub</h2>
            </div>            
            <p class="text-[0.9rem] py-4 text-zinc-300 opacity-90 block  md:text-[1rem]">Agosto 2023 - Presente</p>         
            <p class="py-2 font-normal text-start text-zinc-300 opacity-80 md:mt-[1%] xl:text-[1.2rem]">En GitHub podéis ver todas mis actualizaciones y casi toda mi trayectoria de aprendizaje, incluyendo mis contribuciones y cómo han evolucionado mis habilidades a lo largo del tiempo.</p>
        </div>
    </div>
    
</div>

<style>
    img {
        width: 15%;
    }
    @media (max-width: 640px) {
    img {
        width: 13%;
    }
    }
    @media (max-width: 1024px) {
    img {
        width: 11%;
    }
    }
</style>