---
import AstroSkills from "@/assets/AstroSkills.astro"
import JS from "@/assets/JS.astro"
import HTML from "@/assets/HTML.astro"
import CSS from "@/assets/CSS.astro"
import Python from "@/assets/Python.astro"
import TailwindCSS from "@/assets/TailwindCSS.astro"
---
<div class="text-center my-4 py-2" id="skills">
    <h2 class="text-3xl md:text-2.5xl">My <span class="font-bold">Skills</span></h2>

    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-4 py-4 font-semibold text-lg">
        <li class="grid justify-center border border-black p-4 "><span class="p-2"><AstroSkills/></span>Astro</li>
        <li class="grid justify-center border border-black p-4"><span class="p-2"><TailwindCSS/></span>TailwindCSS</li>
        <li class="grid justify-center border border-black p-4"><span class="p-2"><HTML/></span>HTML</li>
        <li class="grid justify-center border border-black p-4 text-white bg-black"><span class="p-2"><CSS></span>CSS</li>
        <li class="grid justify-center border border-black p-4"><span class="p-2"><JS/></span>JavaScript</li>
        <li class="grid justify-center border border-black p-4"><span class="p-2"><Python/></span>Python</li>
    </ul>
</div>
