---
import AstroSkills from "@/assets/AstroSkills.astro"
import React from "@/assets/React.astro"
import Node from "@/assets/Node.astro"
import Express from "@/assets/Express.astro"
import Flask from "@/assets/Flask.astro"
import MongoDB from "@/assets/MongoDB.astro"
import SQL from "@/assets/SQL.astro"
import Git from "@/assets/Git.astro"
import Bootstrap from "@/assets/Bootstrap.astro"
import HTML from "@/assets/HTML.astro"
import CSS from "@/assets/CSS.astro"
import Python from "@/assets/Python.astro"
import TailwindCSS from "@/assets/TailwindCSS.astro"
---
<div class="text-center my-4 py-2 2xl:pt-6" id="skills">
    <h2 class="text-3xl md:text-[1.8rem]" data-i18n="skills.skillsTitle">My <span class="font-bold">Skills</span></h2>

    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-4 py-4 font-semibold text-lg md:text-[1rem]">
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><React/></span>React</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><Node/></span>Node.js</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><Express/></span>Express</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><Python/></span>Python</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><Flask/></span>Flask</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><MongoDB/></span>MongoDB</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><SQL/></span>SQL</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><Git/></span>Git</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><HTML/></span>HTML</li>
        <li class="grid justify-center border border-black p-4 text-white bg-black transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><CSS/></span>CSS</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><TailwindCSS/></span>TailwindCSS</li>
        <li class="grid justify-center border border-black p-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg"><span class="p-4"><Bootstrap/></span>Bootstrap</li>
    </ul>
</div>

