---
import Footer from "@/sections/Footer.astro"

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
		<link rel="icon" type="image/svg+xml" href="favicon.jpeg"/>
		<title data-i18n="layout.pageTitle">Portfolio</title>
		
	</head>
	<body>
		<div class="max-w-[80rem] ml-[1.5rem] mr-[1.5rem] pt-[1.5rem] sm:pt-[1.5rem] 2xl:max-w-[100%]">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	html {
		font-family: 'Inter', sans-serif;
		scroll-behavior: smooth;
		scroll-timeline: none
	},
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
